# YASH VERMA
# se3_54

In [ ]:
import sqlite3

In [9]:
connection = sqlite3.connect ('./genericDatabase.db')
cursor = connection.cursor ()

In [10]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER NOT NULL
    )
''')

connection.commit()

In [11]:
def create_student(name, age):
    cursor.execute('''
        INSERT INTO students (name, age) 
        VALUES (?, ?)
    ''', (name, age))
    connection.commit()
    print("Record added successfully!")

create_student("Griffith", 20)
create_student("Guts", 22)

Record added successfully!
Record added successfully!

In [12]:
def read_students():
    cursor.execute('SELECT * FROM students')
    rows = cursor.fetchall()
    print("Student Records:")
    for row in rows:
        print(row)

read_students()

Student Records:
(1, 'Griffith', 21)
(4, 'Guts', 22)
(5, 'Griffith', 20)
(6, 'Guts', 22)
(7, 'Griffith', 20)
(8, 'Guts', 22)
(9, 'Griffith', 20)
(10, 'Guts', 22)
(11, 'Griffith', 20)
(12, 'Guts', 22)
(13, 'Griffith', 20)
(14, 'Guts', 22)

In [13]:
def update_student_age(student_id, new_age):
    cursor.execute(''' UPDATE students
                   SET age = ?
                   WHERE id = ?;


        
    ''', (new_age, student_id))
    connection.commit()
    print("Student age updated successfully!")

update_student_age(3, 21)  # Updating Alice's age to 21
read_students()

Student age updated successfully!
Student Records:
(1, 'Griffith', 21)
(4, 'Guts', 22)
(5, 'Griffith', 20)
(6, 'Guts', 22)
(7, 'Griffith', 20)
(8, 'Guts', 22)
(9, 'Griffith', 20)
(10, 'Guts', 22)
(11, 'Griffith', 20)
(12, 'Guts', 22)
(13, 'Griffith', 20)
(14, 'Guts', 22)

In [14]:
def delete_student(student_id):
    cursor.execute('''
                DELETE FROM students
                   WHERE id = ?

                       

        
    ''', (student_id,))
    connection.commit()
    print("Student deleted successfully!")

delete_student(3)  # Deleting Bob's record
read_students()

Student deleted successfully!
Student Records:
(1, 'Griffith', 21)
(4, 'Guts', 22)
(5, 'Griffith', 20)
(6, 'Guts', 22)
(7, 'Griffith', 20)
(8, 'Guts', 22)
(9, 'Griffith', 20)
(10, 'Guts', 22)
(11, 'Griffith', 20)
(12, 'Guts', 22)
(13, 'Griffith', 20)
(14, 'Guts', 22)